node_modules

# bun
bun.lockb
# cargo
src-tauri/Cargo.lock


# Output
.output
.vercel
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Tauri
/src-tauri/target
bun.lockb
*.lockb
